/* metric styling */
div.css-zvqkad.e1tzin5v3{
    background-color: rgba(28, 131, 225, 0.1);
    border: 1px solid rgba(28, 131, 225, 0.1);
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    color: rgb(30, 103, 119);
    overflow-wrap: break-word;
}
/* breakline for metric text		
div.css-1ht1j8u{
    overflow-wrap: break-word;
    white-space: break-spaces;
}
 */